.kandys{
//  background-color: yellow;
  background-repeat: repeat;
  background-image: url("http://res.cloudinary.com/dkr9ndsvc/image/upload/c_scale,e_grayscale,q_100,r_4,w_737/v1474038445/pez_o2z9k7.jpg");

}
h1{
  color: blue;
  font-family: 'Indie Flower';
}

.container{
  //padding-left: 350px;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  //background-color: yellow;
}
