.kandys{
//  background-color: yellow;
  background-repeat: repeat;
  background-image: url("http://res.cloudinary.com/dkr9ndsvc/image/upload/e_blackwhite/v1479905786/pez_ldugo8.jpg");

}
h1{
  color: blue;
  font-family: 'Indie Flower';
}

.container{
  //padding-left: 350px;
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: center;
  //background-color: yellow;
}
