.rest{
  //padding-left: 350px;
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  text-align: center;
  background-color: white;
  align-items: center;
  padding: 2em;
  //background-color: yellow;
}

.police{
  background-repeat: repeat;
  background-image: url("http://res.cloudinary.com/dkr9ndsvc/image/upload/e_blur:363/v1474053422/londonPolice_Bowiw_oh6ank.jpg");
}
